<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="faculity/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>

	<section>
		<p class="fs-1 text-center">Faculty Dashboard</p>

		<div class="container">
			<div class="row p-3">
				<div class="col-md-3 mt-3">
					<a th:href="@{/faculity/addTimetable}"
						class="text-decoration-none text-custom">
						<div class="card paint-card">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-table fa-2x text-custom"></i> <br>
								<p class="fs-2">Add Timetable</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-3">
					<a th:href="@{/faculity/viewTimetable}"
						class="text-decoration-none text-custom">
						<div class="card paint-card">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-table fa-2x text-custom"></i> <br>
								<p class="fs-2 text-custom">View Timetable</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-3">
					<a th:href="@{/faculity/addNoticeboard}"
						class="text-decoration-none text-custom">
						<div class="card paint-card">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-clipboard fa-2x"></i> <br>
								<p class="fs-2">Add Notice board</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-3">
					<a th:href="@{/faculity/viewNoticeboard}"
						class="text-decoration-none text-custom">
						<div class="card paint-card">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-clipboard fa-2x"></i> <br>
								<p class="fs-2">View Notice board</p>
							</div>
						</div>
					</a>
				</div>


				<div class="col-md-3 mt-5">
					<a th:href="@{/faculity/viewStudent}"
						class="text-decoration-none text-custom">
						<div class="card paint-card" style="height: 130px">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-chalkboard-user fa-2x"></i> <br>
								<p class="fs-2">Student Details</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-5">
					<a th:href="@{/faculity/uploadAssignment}"
						class="text-decoration-none text-custom">
						<div class="card paint-card" style="height: 130px">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-circle-arrow-up fa-2x"></i> <br>
								<p class="fs-3">Upload Assignmnent</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-5">
					<a th:href="@{/faculity/viewAssignment}"
						class="text-decoration-none text-custom">
						<div class="card paint-card" style="height: 130px">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-list fa-2x"></i> <br>
								<p class="fs-2">View Assignmnent</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-5">
					<a th:href="@{/faculity/viewAssignmentAnswer}"
						class="text-decoration-none text-custom">
						<div class="card paint-card" style="height: 130px">
							<div class="card-body text-center text-custom">
								<i class="fa-solid fa-list fa-2x"></i> <br>
								<p class="fs-3">Assignment Answer</p>
							</div>
						</div>
					</a>
				</div>


			</div>
		</div>
		<style>
A {
	text-decoration: none;
}
</style>
		<style>
.sz {
	font-size: 15px;
	style ="color: #ccc;
	"
}
</style>

		<footer class="footer-area section-gap foot bg-custom">
			</br> </br>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Our Mission</h3>
						<ul style="color: #ccc;" class="sz">
							<li>Our mission is to create high skilled IT resources which
								are recognized by major corporates in India. We strive to
								inculcate strong technical and interpersonal skills that help
								the students excel in the corporate world.</li>
							<li>cdac admission open, cdac recruitment, Best cdac
								institute for placement, Top / Best CDAC institute for
								placement, Best institute for PreCAT, Top ranked CDAC institute,
								Best CDAC Institute, Best institute for PG-DBDA</li>

						</ul>
					</div>
					<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Our Courses</h3>
						<ul class="sz">
							<li><a href="https://iacsd.com/c-cat.php"
								style="color: #ccc;">Pre-CAT </a></li>
							<li><a href="https://iacsd.com/pg-dac.php"
								style="color: #ccc;">PG-DAC </a></li>
							<li><a href="https://iacsd.com/pg-dbda.php"
								style="color: #ccc;">PG-DBDA </a></li>
							<li><a href="https://iacsd.com/pg-ditiss.php"
								style="color: #ccc;"> PG-DITISS</a></li>
						</ul>
					</div>
					<div class="col-xl-5 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Contact Us</h3>
						<ul style="color: #ccc;" class="sz">
							<li><i class="fa fa-envelope"></i>&nbsp; ittrg@iacsd.in </a></li>
							<li><i class="fa fa-phone"></i>&nbsp; +91 9607690988 / +91
								9699050370 <br /></li>
							<li><i class="fa fa-phone"></i>&nbsp; 20-27659509 / 27652794<br /></li>

							<li><i class="fa fa-map"></i>&nbsp; Institute for Advanced
								Computing & Software Development (IACSD)<br /> Dr. D.Y. Patil
								Educational Complex,<br /> Sector 29, Behind Akurdi Railway
								Station,<br /> Nigdi Pradhikaran, Akurdi<br /> Pune - 411044<br />
								</a></li>
						</ul>
					</div>
					<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Quick Links</h3>
						<ul class="sz">
							<li><a href="#" style="color: #ccc;">Home</a></li>
							<li><a href="#" style="color: #ccc;">About Us</a></li>
							<li><a href="https://iacsd.com/placements.php"
								style="color: #ccc;">Placements</a></li>
							<li><a href="https://iacsd.com/alumni.php"
								style="color: #ccc;">Alumni</a></li>
							<li><a href="https://iacsd.com/contact_us.php"
								style="color: #ccc;">Contact Us</a></li>


						</ul>
					</div>

				</div>

				<style>
.lastlinks li a {
	color: #ccc;
	font-size: 12px;
}

.lastpara::-moz-selection { /* Code for Firefox */
	color: #0b1a2a;
}

.lastpara::selection {
	color: #0b1a2a;
}
</style>




				<div
					class="footer-bottom row align-items-center text-center text-lg-left">

					<p class="footer-text m-0 col-lg-8 col-md-12 font"
						style="color: #FFFFFF; font-size: 13px;">
						</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



					</p>
					<div
						class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
						<a href="https://www.facebook.com/IACSD-PUNE-435456216805515/"
							target="_blank"><i class="fab fa-facebook-f"></i></a> <a
							href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGjneqqJSmRPwAAAWrpdqUg29iSYxriqJospMKZaGuk9YTKLt8eMlN2u1KuAQNhJuH0KXN2j0wXlZur7qWMLs30oP9nROrjpYigkPN0sm-aNzJ49oLbl9me9iPNoodICTJJ--M=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F13281051%2Fadmin%2F"
							target="_blank"><i class="fab fa-linkedin-in"></i></a> <a
							href="https://youtube.com" target="_blank"><i
							class="fab fa-youtube"></i></a> <a href="#" target="_blank"><i
							class="fab fa-twitter"></i></a>

					</div>
				</div>
			</div>
		</footer>


		<div class="bg-custom p-2" >
			<p class="text-center text-white">@copyright reserved by Shubham
				& Samiksha, CDAC INDIAFS</p>
		</div>

	</section>
</body>
</html>