<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="faculity/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="caontainer p-4">

			<div class="row">
				<div class="col-md-9 offset-md-1">
					<div class="card paint-card">
						<div class="card-body">
							<p class="text-center text-custom fs-1">View Notice board</p>
							<div th:if="${session.succMsg}" class="text-center">
								<p class="text-success fs-3" th:text="${session.succMsg}"></p>
								<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
							</div>

							<div th:if="${session.errorMsg}" class="text-center">
								<p class="text-danger fs-3" th:text="${session.errorMsg}"></p>
								<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sl No</th>
										<th scope="col">Faculity name</th>
										<th scope="col">Date</th>
										<th scope="col">Description</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="f,c:${list}">
										<th scope="row">[[${c.count}]]</th>
										<td>[[${f.faculityName}]]</td>
										<td>[[${f.date}]]</td>
										<td>[[${f.description}]]</td>

										<td><a th:href="@{'/faculity/editNoticeboard/'+${f.id}}"
											class="btn btn-sm btn-success">Edit</a> <a
											th:href="@{'/faculity/deleteNotice/'+${f.id}}"
											class="btn btn-sm btn-danger">Delete</a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>