<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>

	<section>
		<div id="carouselExampleCaptions" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">

					<img src="img/student3.jpg" class="d-block w-100 " height="550px"
						alt="...">
					<!-- <div class="carousel-caption d-none d-md-block">
						<h1>Student Portal</h1>
						<p>Some representative placeholder content for the first
							slide.</p>
					</div> -->
				</div>
				<div class="carousel-item">
					<img src="img/student2.jpg" class="d-block w-100" height="550px"
						alt="...">
					<!-- <div class="carousel-caption d-none d-md-block">
						<h1>IACSD</h1>
						<p>Some representative placeholder content for the second
							slide.</p>
					</div> -->
				</div>
				<div class="carousel-item">
					<img src="img/student1.jpg" class="d-block w-100" height="550px"
						alt="...">
					<!-- <div class="carousel-caption d-none d-md-block">
						<h1>Real Estate System</h1>
						<p>Some representative placeholder content for the third
							slide.</p>
					</div> -->
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="container p-2">
			</br>
			</br>
			</br>
			<p class="fs-3 text-center header-iacsd"><strong>About Us</strong></p>
			<div class="row p-4">
				<div class="col-md-6">
					<img src="img/student6.jpg" width="100%" height="70%" />
				</div>
				<div class="col-md-6 p-5">

					<p>It is the outcome of visionary mission of Dr. D. Y. Patil,
						Founder President of Dr. D. Y. Patil Pratishthan. The Institute
						has been set up to fulfill the following objectives: To nurture
						and develop skilled manpower in the field of IT and Electronics.
						To impart courses with practical-centric approach. To provide
						quality and latest information in the field of technology. The
						core strength of the institute lies in the dynamic management
						team, excellent infrastructure, experienced and qualified
						faculties who have been trained to deliver the latest and most
						advanced technological knowledge to the students. Industry experts
						visit our institute from time to time and deliver lectures. The
						Institute is also involved in other activities such as software
						solutions, product development, network services etc, which
						supports the IT industry. In the future, there are plans to expand
						the areas of services offered by the Institute. The Institute is
						located in a tranquil environment within walking distance to the
						Akurdi railway station. All the necessary amenities are provided
						to the students to enable them to work in the institute round the
						clock. The institute is open 24x7 and free wi-fi internet access
						is provided to students throughout the campus.</p>
				</div>
			</div>
		</div>
		<style>
A {
	text-decoration: none;
}
</style>
		<style>
.sz {
	font-size: 15px;
	style ="color: #ccc;
	"
}
</style>

		<footer class="footer-area section-gap foot bg-custom">
			</br> </br>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Our Mission</h3>
						<ul style="color: #ccc;" class="sz">
							<li>Our mission is to create high skilled IT resources which
								are recognized by major corporates in India. We strive to
								inculcate strong technical and interpersonal skills that help
								the students excel in the corporate world.</li>
							<li>cdac admission open, cdac recruitment, Best cdac
								institute for placement, Top / Best CDAC institute for
								placement, Best institute for PreCAT, Top ranked CDAC institute,
								Best CDAC Institute, Best institute for PG-DBDA</li>

						</ul>
					</div>
					<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Our Courses</h3>
						<ul class="sz">
							<li><a href="https://iacsd.com/c-cat.php"
								style="color: #ccc;">Pre-CAT </a></li>
							<li><a href="https://iacsd.com/pg-dac.php"
								style="color: #ccc;">PG-DAC </a></li>
							<li><a href="https://iacsd.com/pg-dbda.php"
								style="color: #ccc;">PG-DBDA </a></li>
							<li><a href="https://iacsd.com/pg-ditiss.php"
								style="color: #ccc;"> PG-DITISS</a></li>
						</ul>
					</div>
					<div class="col-xl-5 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Contact Us</h3>
						<ul style="color: #ccc;" class="sz">
							<li><i class="fa fa-envelope"></i>&nbsp; ittrg@iacsd.in </a></li>
							<li><i class="fa fa-phone"></i>&nbsp; +91 9607690988 / +91
								9699050370 <br /></li>
							<li><i class="fa fa-phone"></i>&nbsp; 20-27659509 / 27652794<br /></li>

							<li><i class="fa fa-map"></i>&nbsp; Institute for Advanced
								Computing & Software Development (IACSD)<br /> Dr. D.Y. Patil
								Educational Complex,<br /> Sector 29, Behind Akurdi Railway
								Station,<br /> Nigdi Pradhikaran, Akurdi<br /> Pune - 411044<br />
								</a></li>
						</ul>
					</div>
					<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
						<h3 style="color: #FFFFFF;">Quick Links</h3>
						<ul class="sz">
							<li><a href="#" style="color: #ccc;">Home</a></li>
							<li><a href="#" style="color: #ccc;">About Us</a></li>
							<li><a href="https://iacsd.com/placements.php"
								style="color: #ccc;">Placements</a></li>
							<li><a href="https://iacsd.com/alumni.php"
								style="color: #ccc;">Alumni</a></li>
							<li><a href="https://iacsd.com/contact_us.php"
								style="color: #ccc;">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<style>
.lastlinks li a {
	color: #ccc;
	font-size: 12px;
}

.lastpara::-moz-selection { /* Code for Firefox */
	color: #0b1a2a;
}

.lastpara::selection {
	color: #0b1a2a;
}
</style>




				<div
					class="footer-bottom row align-items-center text-center text-lg-left">

					<p class="footer-text m-0 col-lg-8 col-md-12 font"
						style="color: #FFFFFF; font-size: 13px;">
						</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



					</p>
					<div
						class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
						<a href="https://www.facebook.com/IACSD-PUNE-435456216805515/"
							target="_blank"><i class="fab fa-facebook-f"></i></a> <a
							href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGjneqqJSmRPwAAAWrpdqUg29iSYxriqJospMKZaGuk9YTKLt8eMlN2u1KuAQNhJuH0KXN2j0wXlZur7qWMLs30oP9nROrjpYigkPN0sm-aNzJ49oLbl9me9iPNoodICTJJ--M=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F13281051%2Fadmin%2F"
							target="_blank"><i class="fab fa-linkedin-in"></i></a> <a
							href="https://youtube.com" target="_blank"><i
							class="fab fa-youtube"></i></a> <a href="#" target="_blank"><i
							class="fab fa-twitter"></i></a>

					</div>
				</div>
			</div>
		</footer>


		<div class="bg-custom p-2">
			<p class="text-center text-white">@copyright reserved by
				Shubham & Samiksha, CDAC INDIA</p>
		</div>

	</section>
</body>
</html>