<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="student/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- <section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-4 ">
					<div class="card paint-card">
						<div class="card-body">
							<p class="fs-4 text-center">Change Password</p>

							<form id="chnagepsw" action="chngps" method="post">
								<div class="mb-3">
									<label class="form-label">old Password</label> <input required
										type="text" name="oldpassword" class="form-control">
								</div>
								<div class="mb-3">
									<label class="form-label">New Password</label> <input required
										name="newpassword" type="text" class="form-control">
								</div>
								<div class="mb-3">
									<label class="form-label">confirm new password</label> <input
										required type="text" name="confirmpassword"
										class="form-control">
								</div>


								<input name="id" type="hidden">

								<button type="submit"
									class="btn bg-primary text-white col-md-12">Change
									Password</button>
							</form>

						</div>
					</div>
				</div>

				<div class="col-md-6 offset-md-1">
					<div class="card paint-card">
						<div class="card-body">
							<p class="fs-4 text-center">Edit Profile Details</p>

							<form action="register" class="mt-2" method="post"
								id="userRegister">



								<div class="row">
									<div class="col">
										<label>First Name</label> <input type="text" name="firstName"
											required class="form-control form-control-sm">
									</div>
									<div class="col">
										<label>Last Name</label> <input type="text" name="lastName"
											required class="form-control form-control-sm">
									</div>
								</div>
								<div class="row mt-3">
									<div class="col">
										<label>Email Id</label> <input type="text" name="email"
											required class="form-control form-control-sm">
									</div>
									<div class="col">
										<label>Mobile No</label> <input type="text" name="mobNo"
											required class="form-control form-control-sm">
									</div>
								</div>

								<div class="form-group mt-3">
									<label>Address</label>
									<textarea required rows="3" cols="" class="form-control"
										name="address"></textarea>

								</div>

								<button class="col-md-6 offset-md-3 mt-2 btn btn-primary">Upadate</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->


	<section>
		<div class="caontainer p-2">
			<div class="row">
				<div class="col-md-5 offset-md-3">
					<div class="card paint-card ">
						<div class="text-center text-custom mt-3">
							<i class="fa-solid fa-2x fa-circle-user"></i>
							<p class="fs-1 text-center text-custom">Edit Profile</p>
						</div>
						<div th:if="${session.succMsg}" class="text-center">
							<p class="text-success fs-3" th:text="${session.succMsg}"></p>
							<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
						</div>

						<div th:if="${session.errorMsg}" class="text-center">
							<p class="text-danger fs-3" th:text="${session.errorMsg}"></p>
							<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
						</div>
						<div class="card-body">

							<form th:action="@{updateProfile}" method="post">
								<div class="row">
									<div class="col">
										<label class="form-label">Full Name</label> <input type="text"
											required class="form-control" name="fullName"
											th:value="${user.fullName}">
									</div>

									<div class="col">
										<label class="form-label">DOB</label> <input type="date"
											required name="dob" class="form-control"
											th:value="${user.dob}">
									</div>
								</div>

								<div class="row mt-2">
									<div class="col">
										<label class="form-label">Mobile Number</label> <input
											required name="mobNo" type="text" class="form-control"
											th:value="${user.mobNo}">
									</div>

									<div class="col">
										<label class="form-label">Email Address</label> <input
											required readonly name="email" type="email"
											class="form-control" th:value="${user.email}">
									</div>
								</div>
								<div class="mb-3 mt-2">
									<label class="form-label">Address</label>
									<textarea name="address" rows="3" cols="" class="form-control"
										required>[[${user.address}]]</textarea>
								</div>
								<input type="hidden" name="id" th:value="${user.id}">
								<button type="submit" class="btn btn-success col-md-12">Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>













</body>
</html>